<div *ngIf="isLoading" class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>

<div *ngIf="!isLoading && error" class="row" style="margin-bottom: 20px;">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="list-group-item list-group-item-action list-group-item-danger">
      {{ error.error.error.code }} {{ error.error.error.message }}
    </div>
  </div>
</div>

<div *ngIf="!isLoading" class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">E-Mail:</label>
        <input id="email" type="text" class="form-control" ngModel name="email" required email>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" class="form-control" ngModel name="password" required minlength="6">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ mode ? 'Login' : 'Sign up' }}</button>
      </div>
      <div class="form-group" *ngIf="mode">
        I don't have an account yet. <a style="cursor: pointer;" (click)="switchMode()">Sign up!</a>
      </div>
      <div class="form-group" *ngIf="!mode">
        I already have an account. <a style="cursor: pointer;" (click)="switchMode()">Log In</a>
      </div>
    </form>
  </div>
</div>
