<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <span
      class="list-group-item"
      *ngFor="let ingredient of (ingredients | async).ingredients;let i = index"
      >
        {{ i }} : {{ ingredient.name }} - {{ ingredient.ammount }}
        <button (click)="onEditItem(i)" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-edit"></i></button>
        <button (click)="onDeleteItem(i)" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></button>
    </span>
    </ul>
    <span *ngIf="!(ingredients | async).ingredients.length">There are no items in your shopping list</span>

  </div>
</div>
